article.container {
    margin: 20px auto;
    max-width: 940px;
}
h1, h3 {
    margin: 0 0 0.25rem 0;
}
p.description {
    margin-top: 0.5rem;
    max-width: 900px;
}
p.byline {
    margin: 0 0 0.5rem 0;
    font-size: 14px;
}
section.headline p {
    margin: 0.25em 0;
}
section.headline .gop,
section.card .gop {
    text-decoration: none;
    border-bottom: 2px solid #DC4E54;
}
section.headline .dem,
section.card .dem {
    text-decoration: none;
    border-bottom: 2px solid #047BC0;
}
section.card .card-image img {
}
section.card .card-content {
    padding: 3px 20px;
}
section.card .card-content {
    padding: 3px 20px;
}
section.card .percentage {
    font-size: 1.3rem;
    margin-right: 5px;
}
.dropshadow {
  fill: #ddd;
  stroke: #fff;
  stroke-width: .5px;
  filter: url(#drop-shadow);
}
.county {
    stroke: #c7c7c7;
    stroke-width: .25px;
}
.bubbles circle {
    fill-opacity: .70;
}
.bubbles .gop {
    fill: #DC4E54;
}
.bubbles .dem {
    fill: #047BC0;
}
.city,
.city-label {
    fill: #444;
}
text {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    pointer-events: none;
}
.legend circle {
    fill: none;
    stroke: #ccc;
}
.legend text {
    font-family: "Roboto", sans-serif;
    fill: #777;
    font-size: 9px;
    text-anchor: middle;
}
text.legend-title {
    font-size: 10px;
}
.btn {
    margin-bottom: 20px;
}
table.bordered tr:last-of-type {
    border-bottom: none;
}
section#sources p {
    margin-top: 0;
}
@media (max-width: 1000px) {
    section.card .card-title {
        font-size: 20px;
    }
}
@media (max-width: 720px) {
    .city-label, .city {
        display: none;
    }
    section.card .card-image {
        display: none;
    }
}
@media (max-width: 420px) {
    section.card .card-title {
        font-size: 16px;
    }
    section.card .percentage {
        font-size: 14px;
    }
    section.card .votes {
        font-size: 12px;
    }
}
