article {
    max-width: 960px;
    margin: 20px auto;
    font-family: sans;
}
header {
    margin: 0 0 30px 0;
    clear: both;
    display: block;
    position: relative;
}
h1 {
    font-size: 3em;
    margin: 0.1em 0 0.1em 0;
}
h2 {
    font-size: 1.75em;
    margin: 0 0 0.2em 0;
}
p {
    font-size: 0.9em;
    margin: 0.7em 0;
}
p.description {
    font-size: 1.15em;
    max-width: 900px;
}
p.byline {
    font-size: 0.8em;
    margin: 0;
}
section#maps {
    clear: both;
    display: block;
    position: relative;
}
section.cycle {
    clear: both;
    display: block;
    position: relative;
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid #e7e7e7;
}
section.cycle:first-of-type {
    margin-top: 0;
}
section.cycle:last-of-type {
    margin-bottom: 0;
}
section.leaderboard {
    clear: both;
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.dropshadow {
  fill: #ddd;
  stroke: #fff;
  stroke-width: .5px;
  filter: url(#drop-shadow);
}
.county {
    fill: #f8f8f8;
    stroke: #c7c7c7;
    stroke-width: .25px;
}
.bubbles circle {
    fill-opacity: .9;
}
.bubbles .gop {
    fill: #DC4E54;
}
.bubbles .dem {
    fill: #047BC0;
}
