<!DOCTYPE html>
<meta charset="utf-8">
<style>
    {% include "index.css" %}
</style>
<body>
    <article>
        <header>
            <h1>Iowa presidential results</h1>
            <p class="byline">
                By <a href="http://palewi.re/who-is-ben-welsh/">Ben Welsh</a>
                &#8226;
                Nov. 19, 2016
            </p>
        </header>
        <section id="maps"></section>
        <section id="sources">
            <p>Sources: OpenElections, Iowa Secretary of State, U.S. Census</p>
        </section>
    </article>
</body>
<script src="/static/underscore-min.js"></script>
<script src="/static/d3.v3.min.js"></script>
<script src="/static/topojson.v1.min.js"></script>
<script src="/static/queue.v1.min.js"></script>
<script type="text/javascript">
    {% include "index.js" %}
    app.boot();
</script>
