<p>Sources: <a href="http://www.openelections.net/">OpenElections</a>, <a href="https://sos.iowa.gov/elections/results/index.html">Iowa Secretary of State</a>, <a href="http://www.census.gov/">U.S. Census</a></p>
