<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <style type="text/css">
        svg {
            border: 1px solid gray;
        }
    </style>
</head>
<body onload="sizeChange()">
    <article class="container">
        <section id="maps"></section>
    </article>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/topojson.v1.min.js"></script>
    <script src="/static/js/queue.v1.min.js"></script>
    <script type="text/javascript">
      d3.select(window).on("resize", sizeChange);

      d3.json('/static/json/iowa-counties.geojson', function(error, state) {
        var svg = d3.select("#maps")
            .append("section")
              .attr("class", "row section")
            .append("svg")
              .attr("class", "map ")
              .attr("width", "100%");

        var projection = d3.geo.mercator()
          .scale(7000)
          .center([-93.15, 42.15]);

        var path = d3.geo.path()
          .projection(projection);

        svg.append("g").selectAll(".state")
            .data(state.features)
          .enter().append("path")
            .attr("d", path);
      });

      function sizeChange() {
  	    d3.select("g").attr("transform", "scale(" + $("#maps").width()/900 + ")");
  	    $("svg").height($("#maps").width()*0.618);
  	  }
    </script>
</body>
</html>
